:root {
    // 颜色
    --text-color: #000;
    --bg-color-1: #fff;
    --bg-color-2: #f8f8f8;
    --bg-color-3: #f0f0f0;
    --theme-color-1: #466052;
    --theme-color-2: #637e6f;
    --theme-color-3: #c8e2ce;
    // 线条
    --border-radius-1: 5px;
    --border-radius-2: 10px;
    --border-radius-3: 15px;
}