:root{
    // 颜色
    --text-color:#000;
    --bg-color-1:rgb(23, 41, 31,0.7);
    --bg-color-2:#f4f6f8;
    --bg-color-3:rgb(23, 41, 31,0.5);
    // 线条
    --border-radius-1:5px;
    --border-radius-2:10px;
    --border-radius-3:15px;
}