$text-color: #000;
$bg-color-1: #fff;
$bg-color-2: #f8f8f8;
$bg-color-3: #f0f0f0;
$bg-color-linear: linear-gradient(to top left, #fff, #ff8235);
$theme-color-1: #ff8235;
$theme-color-2: #ee8c4f;
$theme-color-3: #f59b63;
$border-radius-1: 5px;
$border-radius-2: 10px;
$border-radius-3: 15px;
:root {
    // 颜色
    --text-color: #{$text-color};
    --bg-color-1: #{$bg-color-1};
    --bg-color-2: #{$bg-color-2};
    --bg-color-3: #{$bg-color-3};
    --bg-color-linear: #{$bg-color-linear};
    --theme-color-1: #{$theme-color-1};
    --theme-color-2: #{$theme-color-2};
    --theme-color-3: #{$theme-color-3};
    // 线条
    --border-radius-1: #{$border-radius-1};
    --border-radius-2: #{$border-radius-2};
    --border-radius-3: #{$border-radius-3};
}
